
.container{
   
    display:flex;
    align-items: center;
    justify-content: center;
    height:fit-content;
    
    
 
}

.children {
  text-align:right;
  
  
}


.children  span{
    border:solid 1px black;
  border-radius: 0.2rem; 
}
.h1{
   
   height:fit-content; 
   font-size: 2rem ; 
}

.formContainer{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ; 
  gap: 1rem ; 
  height:fit-content;


}

.firstInput, .secondInput {

     border-radius: .2rem ;
     height: 2rem ;
     width : 20rem ; 
     border: none ;
      

     
}

.firstInput:focus , .secondInput:focus{
    outline: 0.5px solid rgb(49, 47, 0) ; 
}

 

.btn{
   height: 2rem ; 
   width : 10rem; 
   border: none;
   color: white ;
   background-color: black; 
}

.btn:hover{
  background-color: rgba(0, 31, 49, 0.346); 
  outline: 0.1px solid black; 

  
}

.message{

  height: 1rem; 
  width: fit-content;
  

}

.isErrorMessage{
  
  background-color: rgb(170, 42, 42);
  border: 1px solid rgb(128, 83, 0); 
  padding: 0.5rem;

}

.isSucceededMessage{
  background-color: rgb(119, 170, 42);
  border: 1px solid green; 
  padding: 0.5rem;
}